:root {
    --heading: #dad6d6;
    --shadow:#808080;
    --table-head:#060657;
    --white:#ffffff;
    --dark-grey:#505050; 
    --black:#000000;
    --red:#FF0000;
    --caption:#0F0F0F;
    --button:#f5f5f5;
    --slider-left:#7fd9e9;
    --slider-right:#1f8da8;
    --border:#929292b7;
    --grey:#d3d3d3;
}

/* Navigation-Bar */
.navigation-bar{
    height: 7rem;
    box-shadow: 0rem .3rem .2rem var(--shadow);
    margin-bottom: 0rem!important;
}
.nav-link{
    color: var(--red)!important;
}
.nav-option{
    color: var(--black);
    padding-top: 2.5rem!important;
}
a{
    background-color: transparent!important;
}
/* Navigation-Bar */

/* slider */
.slider-background{
    background-image: linear-gradient(to right,  var(--slider-left), var(--slider-right) 60%);
    width: 100%;
}
.carousel-arrow{
    opacity: 0!important;
}
.carousel-image{
    width: 40%;
    float: right; 
}
#caption{
    text-align: left;
    margin: 0px 0px 3.8rem -20rem;
    color:var(--caption);
    text-shadow: none!important;
}
#btn{
    background-color: var(--button);
    border-radius: 20rem;
    color:var(--black);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight:bold;
    border: none;   
}
.sliderHeading{
    font-size: 2.9rem;    
}
.sliderHeading2{
    font-size: 2rem;
    font-weight: small;
}
hr{
    margin-top: 0!important;
}
/* slider */

/* card */
.card-imgs{
    width: 80%;
}
.text-bold{
    font-weight: 600;
}
.cards{
    border: .3rem solid var(--border);
    margin: .5rem;
    width: 34rem;
    padding: 1rem;
}
#training-header{
    font-weight:bold;
    padding: 1rem;
}

hr{
    height:.1rem;
    border-width:0;
    color:gray;
    background-color:var(--grey);
}
.enroll-btn{
   margin-left:13rem!important;
  
}
.card-Section{
   
    margin-left: 3.4rem;
    margin-top: 6rem;
}
.single-card{
    padding: 1rem; 
}
/* cards */

/* Table */
.ui-grid-header-cell {
    background: var(--grey)!important;
    border-color: var(--white);
}
.ui-grid-cell-contents {
    color: black!important;
}
.modalDetails{
    width: 650px;
     height: 520px;
}
.grid-details{
    width: 600px;
    height: 300px;
}
/* Table */

/* Filters */
.category-filter,.trainer-filter{
    height: 3rem;
    float: right;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
/* Filters */

/* Responsive */
@media only screen and (max-width: 1080px) and (min-width: 856px)  {
    .image-slide{     
        visibility: hidden;
    }
    .slider-background{
        height: 35vh;
    }
    .sliderHeading{
        font-size: 2.5rem!important;
        font-weight: bold;
    }
    .sliderHeading2{
        font-size: 1.8rem!important;
        font-weight: small;
    }
    .change-height{
        height: 35vh;
    }
        
    #caption{
        margin: 0px 0px -2rem -4rem!important;
        width:100%;
    }
    .card-imgs{
        width: 80%;
    }
    .cards{
        border: .3rem solid var(--border);
        margin: 2rem;
        display: inline-block;
    }
    .card-Section{
       
        margin-left:0rem;
    }
    .single-card{
        padding: 1rem; 
    }
    .enroll-btn{
        margin-left:9rem!important;
       
    }
}
@media only screen and (max-width: 855px) and (min-width: 622px)  {
    .image-slide{     
        visibility: hidden;
    }
    .slider-background{
        height: 35vh;
    }
    .sliderHeading{
        font-size: 2rem!important;
        font-weight: bold;
    }
    .sliderHeading2{
        font-size: 1.5rem!important;
        font-weight: small;
    }
    .change-height{
        height: 35vh;
    }
        
    #caption{
        margin:0px 0px -3rem -6rem!important;
        width:100%;
    }
    .card-imgs{
        width: 80%;
    }
    .cards{
        margin: 2rem;
        display: inline-block;
    }
    .card-Section{
       
        margin-left:0rem;
    }
    .single-card{
        padding: 1rem; 
    }
    .enroll-btn{
        margin-left:9rem!important;
       
    }
    .nav-option{
        padding-top: 0rem!important;
        padding-left: 35rem!important; 
        margin-top: 0rem!important;
        transform: translate(1rem, -4rem);
    } 
}

@media only screen and (max-width: 620px) {
    .image-slide{     
        visibility: hidden;
    }
    .slider-background{
        height: 28vh;
    }
    .sliderHeading{
        font-size: 1.6rem!important;
        font-weight: bold;
    }
    .sliderHeading2{
        font-size: 1.2rem!important;
        font-weight: small;
    }
    .change-height{
        height: 28vh;
    }
    #caption{
        margin: 0rem 0rem -10rem -4rem!important;
        width:100%;
        overflow: hidden;
    }
    .nav-option{
        padding-top: 0rem!important;
        padding-left: 26rem!important;
        margin-top: 0rem!important;
        transform: translate(1rem, -4rem);
    }  
    .card-imgs{
        width: 80%;
    }
       
    .cards{
        border: .3rem solid var(--border);
        margin: 0 auto!important;
        width: 30rem;
    }
    .card-Section{  
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .single-card{
        padding: 1rem; 
       
    } 
    .enroll-btn{
        margin-left:9rem!important;
       
    }
    .modalDetails{
        width: 340px;
        height: 620px;
    }
    .grid-details{
        width: 310px;
        height: 300px;
    } 
}
/* Responsive */
html,body {
    overflow-x: hidden;
}
